<div class="container-login100 background">
  <div class="wrap-login100 p-l-55 p-r-55 p-b-30 p-t-80" id="mar-top">
    <div
      *ngIf="error"
      id="alert-div"
      class="alert alert-danger alert-white rounded"
      style="margin-top: -60px"
    >
      <button
        (click)="closeError()"
        id="alert-btn"
        type="button"
        data-dismiss="alert"
        aria-hidden="true"
        class="close"
      >
        <div class="icon">
          <i class="fa fa-times-circle"></i>
        </div>
      </button>
      Invalid credentials!<br />
      &nbsp; Please try again!
    </div>
    <form
      novalidate
      class="login100-form validate-form"
      (ngSubmit)="login()"
      [formGroup]="signInForm"
    >
      <span class="login100-form-title p-b-10"> Welcome Admin! </span>
      <span class="login100-form-title-line p-b-37">
        Please login with your personal info
      </span>

      <div class="wrap-input100 validate-input m-b-5" id="user-div">
        <input
          class="input100"
          type="text"
          formControlName="username"
          required
          placeholder="Email address"
          pattern="^[a-zA-Z0-9_.+-]+@gmail.com"
          [ngClass]="{
            'is-invalid':
              (signInForm.get('username')?.touched ||
                signInForm.get('username')?.dirty) &&
              !signInForm.get('username')?.valid
          }"
        />
        <span class="focus-input100"></span>
      </div>
      <div
        *ngIf="
          (signInForm.get('username')?.touched ||
            signInForm.get('username')?.dirty) &&
          signInForm.get('username')?.errors?.required
        "
        class="invalid-username"
      >
        Please enter your email address
      </div>
      <div
        *ngIf="
          (signInForm.get('username')?.touched ||
            signInForm.get('username')?.dirty) &&
          !signInForm.get('username')?.valid &&
          signInForm.get('username')?.errors?.invalidUsername
        "
        class="invalid-username"
      >
        Please enter in format abc@gmail.com
      </div>

      <div class="wrap-input100 validate-input m-b-5 m-t-10">
        <input
          class="input100"
          type="password"
          formControlName="password"
          required
          placeholder="Password"
          [ngClass]="{
            'is-invalid':
              (signInForm.get('password')?.touched ||
                signInForm.get('password')?.dirty) &&
              !signInForm.get('password')?.valid
          }"
        />
        <span class="focus-input100"></span>
      </div>
      <div
        *ngIf="
          (signInForm.get('password')?.touched ||
            signInForm.get('password')?.dirty) &&
          signInForm.get('password')?.errors?.required
        "
        class="invalid-username"
      >
        Please enter your password
      </div>

      <div class="container-login100-form-btn m-t-20">
        <button class="login100-form-btn" [disabled]="!signInForm.valid">
          Sign In
        </button>
      </div>
    </form>
  </div>
</div>
